<html>
<body>
  <center><h1 style="color:blue">Ahorcado</h1></center>
<label for="jug1">Bienvenido:</label>
<label for="jug1" style="color:blue" id="lblJugador"><%=@@jugador%></label>
<label for="jug1">al juego del ahorcado</label>
</body>

</html>
