<html>
<body>


<center><h1 style="color:blue">Ahorcado</h1></center>
<label for="jug1">Bienvenido:</label>
<label for="jug1" style="color:blue" id="lblJugador"><%=@@jugador%></label>
<label for="jug1">al juego del ahorcado</label>
<<<<<<< HEAD

<br>
<br>
<br>
<br>
<label for="palabraDescr">Palabra a advinar:</label>
<label for="palabra" style="color:red" id="lblPalabra"><%=@@palabra%></label>
=======
<label for="cantidadle" id="lblcantidadle">cantidad de letras=5</label>

>>>>>>> 919e952689739602642e2c98df5783848f6770a6
</body>

</html>
