<html>
<body>
<h1>Ahorcado</h1>
  <form action="/jugar" method="get">
    <label for="jug1">Jugador</label>
    <input type="text"name ="txtNombre"><br>
    <input type="submit" value="jugar">
</form>
</body>
</html>
