<html>
<body>
<center><h1 style="color:blue">Ahorcado </h1></center>
  <form action="/jugar" method="get">
    <label for="jug1">Jugador</label>
    <input type="text"name ="txtNombre"><br>
    <input type="submit" value="jugar">
</form>
</body>
</html>
